<div class="wrapper" *ngIf='finalize'>
  <div class="user-nav">
    <div class="user" *ngFor="let user of usersJson; index as i;" (click)="userLink = user.id; onSwipe();">
      {{user.id}}. {{user.name}}
    </div>
  </div>

  <div class="user-posts">
    [UserPosts]:
    <div class="anim-wrapper" [@animSwipe]="counter">
      <div class="post" *ngFor="let post of postsJson; index as j;">
        <app-user-posts [post]="post" *ngIf="post.userId === userLink"></app-user-posts>
      </div>
    </div>
  </div>
</div>
